.group-settings {
  display: flexbox;
  background: var(--form-background-color);
}

.group-editor {
  display: inline-flex;
  margin-left: 20px;
  margin-right: 20px;
}

.btn {
  width: 300px;
  height: 56px;
}

.title-block {
  color: var(--color-text);
  padding: 10px;
  font-size: medium;
}

.mat-mdc-form-field {
  width: 300px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-row {
  max-width: 120px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.my-group-table {
  background: var(--form-background-color);
}

.search-group-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 50%;
}

td, th {
  width: 20%;
}

.mat-column-id {
  width: 10%;
}

.mat-column-name {
  width: 15%;
}

.mat-column-surname {
  width: 15%;
}

.mat-column-patronymic {
  width: 15%;
}

.mat-column-group {
  width: 15%;
}

.mat-column-phoneNumber {
  width: 15%;
}

.mat-column-control {
  width: 30%;
}

section {
  display: flex;
  align-items: center;
}

.label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

.button-row {
  max-width: 120px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-add {
  margin-right: 10px;
  height: 57px;
}

.mat-add-btn {
  background-color: green;
  color: white;
}

.group-select-container {
  width: 200px;
}

.full-width {
  width: 100%;
}
