<aside>
  <!-- <div class="btn-hide">
    <button class="btn" id="hide-btns">
      <mat-icon><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#4B77D1"><path d="M440-280v-400L240-480l200 200Zm80 160h80v-720h-80v720Z"/></svg></mat-icon>
      <span class="text-on-btn">Свернуть меню</span>
    </button>
  </div> -->
  <div class="user-panel">
      <span class="fio-user">
        {{surname}} {{name}} {{patronymic}}
      </span>
  </div>

  <div class="btn-panel">
    <button class="btn" routerLink="profile" routerLinkActive="active-link">
      <mat-icon>account_circle</mat-icon>
      <span class="text-on-btn">Профиль</span>
    </button>

    <button class="btn" routerLink="group" routerLinkActive="active-link">
      <mat-icon>group</mat-icon>
      <span class="text-on-btn">Группа</span>
    </button>

    @if (hasRole("admin")) {
      <button class="btn" routerLink="students" routerLinkActive="active-link">
        <mat-icon>diversity_3</mat-icon>
        <span class="text-on-btn">Люди</span>
      </button>
    }

  </div>

  <div class="other-block">
    <button class="btn" (click)="logoutUser()" routerLink="auth" routerLinkActive="active-link">
      <mat-icon>logout</mat-icon>
      <span class="text-on-btn">Выйти</span>
    </button>
  </div>
</aside>
<article>
  <router-outlet></router-outlet>
</article>
