<h1 mat-dialog-title style="font-size: 18px;">{{dialogTitle}}</h1>
<div mat-dialog-content style="display: inline; padding: 20px; margin: auto; ">

  <mat-form-field class="full-width-input">
    <input matInput type="text" placeholder="Фамилия" [value]="editingUser.surname"
      [(ngModel)]="editingUser.surname" required >
      @if (validateFormSurname(editingUser.surname) == false) {
        <mat-error>Поле не может быть пустым и содержать пробелы</mat-error>
      }
  </mat-form-field>

  <mat-form-field class="full-width-input">
    <input matInput type="text" placeholder="Имя" [value]="editingUser.name"
      [(ngModel)]="editingUser.name" required>
      @if (validateFormName(editingUser.name) == false) {
        <mat-error>Поле не может быть пустым и содержать пробелы</mat-error>
      }
  </mat-form-field>

  <mat-form-field class="full-width-input">
    <input matInput type="text" placeholder="Отчество" [value]="editingUser.patronymic"
      [(ngModel)]="editingUser.patronymic" required>
      @if (validateFormPatronymic(editingUser.patronymic) == false) {
        <mat-error>Поле не может быть пустым и содержать пробелы</mat-error>
      }
  </mat-form-field>

  @if (userRole == "admin") {
    <mat-form-field class="full-width-input">
      <mat-select [(ngModel)]="editingUser.group_id" placeholder="Группа">
          @for (group of groups; track group.id) {
            <mat-option [value]="group.id">{{group.name}}</mat-option>
          }
      </mat-select>
    </mat-form-field>
  }

  <mat-form-field class="full-width-input">
    <input matInput type="text" placeholder="Номер телефона" [value]="editingUser.phoneNumber"
      [(ngModel)]="editingUser.phoneNumber" required>
  </mat-form-field>

  @if (userRole == "admin") {
    <mat-form-field class="full-width-input">
      <mat-select [(ngModel)]="editingUser.role" placeholder="Роль">
          @for (role of ROLES; track role.id) {
            <mat-option [value]="role.role">{{role.name_ru}}</mat-option>
          }
      </mat-select>
    </mat-form-field>
  }
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Отмена</button>
  <button class="right-align" mat-raised-button color="primary"
    [mat-dialog-close]="editingUser" [disabled]="checkValidateConfirm()">{{dialogCloseButton}}</button>
</div>
