@import "@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --primary-color: #DBC8B8;
  --primary-border-color: #D7B9A1;
  --form-background-color: #E7D2C0;
  --color-text: #6F8484;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(45deg, #B3C9A7 0%, #DAB9C0 100%);
}

.btn {
  width: 100%;
  background: var(--primary-color);
  color: var(--color-text);
  padding: 10px 20px;
  font-weight: 700px;
  font-style: 14px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid var(--primary-border-color);
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover{
  -webkit-box-shadow: 0px 0px 5px 0px var(--color-text);
  -moz-box-shadow: 0px 0px 5px 0px var(--color-text);
  box-shadow: 0px 0px 5px 0px var(--color-text);
}

.btn:disabled {
  cursor: not-allowed;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

h1 {
  font-size: 30px;
  line-height: 56px;
  font-weight: 600;
  text-align: center;
  color: var(--color-text);
}

.st-reg-auth-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-text);
}

.st-input {
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  display: block;
  border: 1px solid var(--primary-border-color);
  border-radius: 4px;
  padding: 12px 20px;
  background-color: white;
  font-weight: 14px;
  line-height: 12px;
  color: rgb(0, 0, 0);
}

.inf-text-label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--color-text);
}

.m8 {
  margin: 8px;
}

.mt8 {
  margin-top: 8px;
}

.alert {
  display: block;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}

.error {
  background-color: red;
  color: white;
}

.success {
  background-color: green;
  color: white;
}
